<template>
    <section id="main-content">
        <section class="wrapper">
                <div class="form-w3layouts">
                <!-- page start-->
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                            Category Forms
                            </header>
                            <div class="panel-body">
                            <div class="position-center">                  
                               
                                <form @submit.prevent="createCategory">
                                    <div class="form-group">
                                        <label for="name">Category Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter title" v-model="form.name">
                                    </div>
                                        <div class="form-group">
                                        <label for="description">Category Description</label>
                                        <textarea class="form-control " id="description" name="description" required="" v-model="form.description"></textarea>
                                    </div>
                                 <div class="form-group">
                                    <label for="image">File input</label>
                                    <input type="file" id="image" name="image" required @change="uploadImage($event)"/>
                                 </div>
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </form>

                            </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
                </div>
            </section>
    </section>
</template>

<script>
export default {
   
    data: function() {
        return {
            form: this.initialForm(),
        }
    },

    methods: {
        createCategory: function() {
            let url = '/category/api/store';

            let data = new FormData();
            data.append('name', this.form.name);
            data.append('description', this.form.description);
            data.append('image', this.form.image);

            let config = {
                header : {
                    'Content-Type' : 'image/png'
                }
            }

            axios.post(url, data, config).then(response => {
                    window.location.href = '/category';
                }
            )
        },

        uploadImage: function (event) {
            this.form.image = event.target.files[0];
        },

        initialForm: function() {
            return {
                name: '',
                description: '',
                image: '',
            }
        }
    }
    
}
</script>