<template>
    <section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
  <div class="panel panel-default">
    <div class="panel-heading">
      Category Table
    </div>
    <div class="row w3-res-tb">
      <div class="col-sm-5 m-b-xs">
        <select class="input-sm form-control w-sm inline v-middle">
          <option value="0">Bulk action</option>
          <option value="1">Delete selected</option>
          <option value="2">Bulk edit</option>
          <option value="3">Export</option>
        </select>
        <button class="btn btn-sm btn-default">Apply</button>                
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Image</th>
            <th>Action</th>
            <th style="width:30px;"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(category, index) in categories">
            <td>{{ index+1 }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
            <td>
              <img :src="'/uploads/' + category.image" width="30" height="30"/>
            </td>
            <td>
              <a @click.prevent="editCategory(category.id)" class="active" ui-toggle-class="">
                  <i class="fa fa-check text-success text-active"></i>
              </a>
			        <a @click.prevent="deleteCategory(category.id)" class="active" ui-toggle-class="">
                  <i class="fa fa-times text-danger text"></i>
              </a>
            </td>
          </tr>
      
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        
        <div class="col-sm-5 text-center">
          <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
        </div>
        <div class="col-sm-7 text-right text-center-xs">                
          <ul class="pagination pagination-sm m-t-none m-b-none">
            <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li><a href="">3</a></li>
            <li><a href="">4</a></li>
            <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
</section>

</section>
</template>

<script>
import axios from 'axios';

export default {
    mounted: function() {
        this.fetch();
    },

    data: function() {
        return {
            categories: [],
        }
    },

    methods: {
      
        fetch: function() {
            let config = {
                url: 'category/api/fetch',
                method: 'GET',
            }

            axios.request(config).then(response => {
                this.categories = response.data;
            });
        },

        editCategory: function(id) {
            window.location.href = '/category/edit/'+id;
        },

        deleteCategory: function (id) {
            let config = {
                url: 'category/api/delete/'+ id,
                method: 'POST',
            }

            axios.request(config).then(response => {
                if(response.success !== false) {
                    this.fetch();
                }
            });
        },


    }

}
</script>
