<template>
    <section id="main-content">
        <section class="wrapper">
            <div class="form-w3layouts">
                <!-- page start-->
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                                Products Forms
                            </header>
                            <div class="panel-body">
                                <div class="position-center">
                                    <form role="form" @submit.prevent="updateProduct">
                                        <div class="form-group">
                                            <label for="name">Product Name</label>
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name" v-model="form.name">
                                        </div>
                                        <div class="form-group">
                                            <label for="short_description">Short Description</label>
                                            <textarea class="form-control" id="short_description" name="short_description" v-model="form.short_description" required=""></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="long_description">Long Description</label>
                                            <textarea class="form-control" id="long_description" name="long_description" v-model="form.long_description" required=""></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="qty"> Qty</label>
                                            <input type="number" class="form-control" id="qty" name="qty" placeholder="Enter quantity" v-model="form.qty">
                                        </div>
                                        <div class="form-group">
                                            <label for="unit_price"> UnitPrice</label>
                                            <input type="number" class="form-control" id="unit_price" name="unit_price" placeholder="Enter unit price" v-model="form.unit_price">
                                        </div>
                                        <div class="form-group">
                                            <label for="total_price"> TotalPrice</label>
                                            <input type="number" class="form-control" id="total_price" name="total_price" placeholder="Enter total price" v-model="form.total_price">
                                        </div>
                                        <div class="form-group">
                                            <label for="discount"> Discount</label>
                                            <input type="number" class="form-control" id="discount" placeholder="Enter discount" v-model="form.discount">
                                        </div>
                                        <div class="form-group">
                                            <label for="category">Category</label>
                                            <select class="form-control m-bot15" name="category" v-model="form.category">
                                                <option>Selects</option>
                                                <option :selected="form.category === category.id" :value="category.id" v-for="(category, index) in categories">{{ category.name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="subcategory">Subcategory</label>
                                            <select class="form-control m-bot15" name="subcategory" v-model="form.subcategory">
                                                <option>Selects</option>
                                                <option :selected="form.subcategory === subcategory.id" :value="subcategory.id" v-for="(subcategory, index) in subcategories" v-model="form.subcategory">{{ subcategory.name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <img :src="'/uploads/' + product.image" width="150" height="80"/>
                                            <br/>
                                            <label for="image">File input</label>
                                            <input type="file" id="image" name="image" @change="uploadImage($event)"/>
                                        </div>
                                        <button type="submit" class="btn btn-info">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
            </div>
        </section>
    </section>
</template>

<script>
    export default {
        props: ['product', 'categories', 'subcategories'],
        
        data: function() {
            return {
                form: this.initialForm(),
            }
        },
        
        methods: {
            
            updateProduct: function() {
                let url = '/products/api/update/' + this.product.id;

                let data = new FormData();
                data.append('name', this.form.name);
                data.append('short_description', this.form.short_description);
                data.append('long_description', this.form.long_description);
                data.append('qty', this.form.qty);
                data.append('unit_price', this.form.unit_price);
                data.append('total_price', this.form.total_price);
                data.append('discount', this.form.discount);
                data.append('category', this.form.category);
                data.append('subcategory', this.form.subcategory);
                data.append('image', this.form.image);

                let config = {
                    header : {
                        'Content-Type' : 'image/png'
                    }
                }

                axios.post(url, data, config).then(response => {
                        if(response.data.success === true) {
                            window.location.href = '/products/manage';
                        }
                    }
                )
            },

            initialForm: function() {
                return {
                    name: this.product.name,
                    short_description: this.product.short_description,
                    long_description: this.product.long_description,
                    qty: this.product.qty,
                    unit_price: this.product.unit_price,
                    total_price: this.product.total_price,
                    discount: this.product.discount,
                    category: this.product.category.id,
                    subcategory: this.product.subcategory.id,
                    image: [],
                }
            },

            uploadImage: function (event) {
                this.form.image = event.target.files[0];
            },
        }

    }
</script>