<template>
    <section id="main-content">
        <section class="wrapper">
                <div class="form-w3layouts">
                <!-- page start-->
                <!-- page start-->
                <div class="row">
                    <div class="col-lg-12">
                        <section class="panel">
                            <header class="panel-heading">
                            Subcategory Forms
                            </header>
                            <div class="panel-body">
                            <div class="position-center">                  
                                <form role="form" @submit.prevent="updateSubCategory">
                                    <div class="form-group">
                                        <label for="name">Subcategory Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="Enter title" v-model="form.name">
                                    </div>
                                         
                                         
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Category</label> 
                                        <select class="form-control m-bot15" v-model="form.category_id">
                                            <option>Selects</option> 
                                            <option :selected="category.id === subcategory.category_id" :value="category.id" v-for="(category, index) in categories">{{ category.name }}</option>
                                        </select>
                                        </div>

                                        <div class="form-group">
                                        <label for="description">Subcategory Description</label>
                                        <textarea class="form-control " id="description" name="description" required="" v-model="form.description"></textarea>
                                    </div>
                                      <div class="form-group">
                                    <label for="image">File input</label>
                                     <img :src="'/uploads/' + subcategory.image" width="150" height="80"/>
                                    <input type="file" id="image" name="image" @change="uploadImage($event)">
                               
                                 </div>
                                    <button type="submit" class="btn btn-info">Submit</button>
                                </form>
                            </div>
                            </div>
                        </section>
                    </div>
                </div>
                <!-- page end-->
                </div>
            </section>
    </section>
</template>

<script>
export default {
    props: ['categories', 'subcategory'],
    data: function() {
        return {
            form: this.initialForm(),
        }
   },

    methods: {
        updateSubCategory: function() {
            let url = '/subcategory/api/update/'+this.subcategory.id;

            let data = new FormData();
            data.append('name', this.form.name);
            data.append('category_id', this.form.category_id);
            data.append('description', this.form.description);
            data.append('image', this.form.image);

            let config = {
                header : {
                    'Content-Type' : 'image/png'
                }
            }

            axios.post(url, data, config).then(response => {
                    window.location.href = '/subcategory/manage';
                }
            )
        },



        uploadImage: function (event) {
            this.form.image = event.target.files[0];
        },

        initialForm: function() {
            return {
                name: this.subcategory.name,
                category_id: this.subcategory.id,
                description: this.subcategory.description,
                image: null,
            }
        }
    }
    
}
</script>